---
title: Datadog Application Monitoring for VMware Tanzu
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

This documentation describes Datadog Application Monitoring for VMware Tanzu. Datadog Application Monitoring enables VMware Tanzu users to monitor the health and performance of their applications.


## <a id='overview'></a> Overview

Datadog Application Monitoring for VMware Tanzu is made up of three components:

* DogstatsD
* Trace Agent
* Puppy Agent

DogstatsD is the easiest way to get your custom application metrics into Datadog. It is a metrics aggregation service that implements the StatsD protocol and adds a few Datadog-specific extensions. For more information, see [our documentation](https://docs.datadoghq.com/guides/DogStatsD/). Additionally, we have [a list of DogStatsD libraries](https://docs.datadoghq.com/libraries/) you can reference to find one that is compatible with your application.

Trace Agent is a service that collects application traces from various sources and forwards them to Datadog. For more information, see [our documentation](https://docs.datadoghq.com/tracing/).

Puppy Agent is a smaller version of the [Datadog Agent](https://docs.datadoghq.com/agent/) that can forward metrics and logs to Datadog. For more information about log-collection, see [our documentation](https://docs.datadoghq.com/logs/). When enabled, all the logs from stdout and stderr are collect and forwarded by TCP to the Puppy Agent by default.


## <a id='key-features'></a> Key Features

Datadog Application Monitoring for VMware Tanzu includes the following key features:

* Application performance monitoring
* Metrics, logs, and traces forwarding to Datadog

Datadog is a monitoring and analytics platform for cloud-scale infrastructure and applications. Datadog provides full-stack observability by combining infrastructure metrics and events with application performance metrics and end-to-end tracing. With flexible graphs and dashboards, sophisticated alerting, and machine learning functionality for anomaly and outlier detection, the platform provides actionable insight into dynamic, modern environments. Datadog features 200+ vendor-supported integrations, with simple configuration and built-in template dashboards.


## <a id="snapshot"></a> Product Snapshot

The following table provides version and version-support information about the Datadog Application Monitoring for VMware Tanzu.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.26.0</td>
    <tr>
        <td>Release date</td>
        <td>December 14, 2021</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>7.32.2</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.7.x, v2.8.x, v2.9.x, v2.10.x</td>
    </tr>
    <tr>
        <td>Compatible Tanzu Application Service version(s)</td>
        <td>v2.7.x, v2.8.x, v2.9.x, v2.10.x, v2.11.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a> Requirements

Datadog Application Monitoring for VMware Tanzu has the following requirements:

* You must have or create a [Datadog account](https://app.datadoghq.com/signup) before configuring the tile.
* You must generate a [Datadog API key](https://app.datadoghq.com/account/settings#api).


## <a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to the [VMware Tanzu Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@datadoghq.com.


## <a id='license'></a> License

Datadog Application Monitoring for VMware Tanzu is released under the Apache License 2.0.

To use Datadog Application Monitoring for VMware Tanzu, you need a [Datadog API](https://app.datadoghq.com/account/settings#api) key and account. If you do not have a Datadog account, sign up [here](https://app.datadoghq.com/account/login?next=%2F).
