---
title: Datadog Application Monitoring for VMware Tanzu
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

This documentation describes Datadog Application Monitoring for VMware Tanzu. Datadog Application Monitoring enables VMware Tanzu users to monitor the health and performance of their applications.


## <a id='overview'></a> Overview

Datadog Application Monitoring for VMware Tanzu is made up of three components:

* DogStatsD
* Trace Agent
* Puppy Agent

You can use DogStatsD to get your custom application metrics into Datadog. DogStatsD is a metrics aggregation service that implements the StatsD protocol and adds a few Datadog-specific extensions. For more information, see [the DogStatsD documentation](https://docs.datadoghq.com/guides/DogStatsD/). Additionally, Datadog provides [a list of DogStatsD libraries](https://docs.datadoghq.com/libraries/) you can use to find libraries compatible with your application.

The Trace Agent is a service that collects application traces from various sources and forwards them to Datadog. For more information, see [the tracing documentation](https://docs.datadoghq.com/tracing/).

The Puppy Agent is a smaller version of the [Datadog Agent](https://docs.datadoghq.com/agent/) that can forward metrics and logs to Datadog. For more information about log collection, see [the logs documentation](https://docs.datadoghq.com/logs/). When enabled, the default behavior is for all logs from `stdout` and `stderr` to be collected and forwarded by TCP to the Puppy Agent.


## <a id='key-features'></a> Key Features

Datadog Application Monitoring for VMware Tanzu includes the following key features:

* Application performance monitoring
* Metric, log, and trace forwarding to Datadog

Datadog is a monitoring and analytics platform for cloud-scale infrastructure and applications. Datadog provides full-stack observability by combining infrastructure metrics and events with application performance metrics and end-to-end tracing.


## <a id="snapshot"></a> Product Snapshot

The following table provides version and version support information about Datadog Application Monitoring for VMware Tanzu.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.34.0</td>
    <tr>
        <td>Release date</td>
        <td>Jan 25, 2023</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>7.41.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.7.x, v2.8.x, v2.9.x, v2.10.x</td>
    </tr>
    <tr>
        <td>Compatible Tanzu Application Service version(s)</td>
        <td>v2.7.x, v2.8.x, v2.9.x, v2.10.x, v2.11.x, v2.12.x, v2.13.x and v3.0.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a> Requirements

Datadog Application Monitoring for VMware Tanzu has the following requirements:

* You must have or create a [Datadog account](https://app.datadoghq.com/signup) before configuring the tile.
* You must generate a [Datadog API key](https://app.datadoghq.com/account/settings#api).


## <a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to the [VMware Tanzu Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@datadoghq.com.


## <a id='license'></a> License

Datadog Application Monitoring for VMware Tanzu is released under the Apache License 2.0.
