---
title: Installing and Configuring Datadog Application Monitoring for Pivotal Platform
owner: Partners
---

This topic describes how to install and configure Datadog Application Monitoring for Pivotal Platform.

##<a id='install'></a> Install and Configure Datadog Application Monitoring for Pivotal Platform

1. Download the product file for the **Datadog Application Monitoring for Pivotal Platform** from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Datadog Application Monitoring for Pivotal Platform.
This adds the tile to your staging area.

1. Click the newly added **Datadog Application Monitoring for Pivotal Platform** tile.

1. In the **Datadog Config** section enter your [Datadog API key](https://app.datadoghq.com/account/settings#api).

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply changes** to install Datadog Application Monitoring for Pivotal Platform tile.
