---
title: Release Notes for Datadog Application Monitoring for PCF
owner: Partners
---

These are release notes for Datadog Application Monitoring for Pivotal Cloud Foundry (PCF).

##<a id="ver"></a> v0.9.0

**Release Date:** April 20, 2018

Features included in this release:

* Initial release
