---
title: Release Notes for Datadog Application Monitoring for PCF
owner: Partners
---

These are release notes for Datadog Application Monitoring for Pivotal Cloud Foundry (PCF).

##<a id="ver"></a> 1.3.0

**Release Date:** January 25, 2018

Features included in this release:

* Bumps the agent to 6.9.0, [more details available at the agent release](https://github.com/DataDog/datadog-agent/releases/tag/6.9.0).


##<a id="ver"></a> 1.2.0

**Release Date:** December 18, 2018

Feature included in this release:

* Bumps the agent to 6.8.0, [more details available at the agent release](https://github.com/DataDog/datadog-agent/releases/tag/6.8.0).


##<a id="ver"></a> 1.1.0

**Release Date:** November 21, 2018

Feature included in this release:

* Bumps the trace agent to 6.7.0, [which simplifies trace search](https://github.com/DataDog/datadog-agent/releases/tag/6.7.0).


##<a id="ver"></a> 1.0.0

**Release Date:** November 15, 2018

Feature included in this release:

* The logs agent is GA on Cloud Foundry.

    The API has changed significantly.
  For new instructions,
  see [Log Collection](https://github.com/DataDog/datadog-cloudfoundry-buildpack#log-collection-beta---no-official-release-yet)
  in the Datadog Cloud Foundry Buildpack README and
  [Monitor Your Applications on Cloud Foundry](https://docs.datadoghq.com/integrations/cloud_foundry/#monitor-your-applications-on-cloud-foundry)
  in the Datadog Docs.

##<a id="ver"></a> v0.9.6

**Release Date:** November 5, 2018

Feature included in this release:

* Upgrade DogStatsD and Datadog Trace Agent to 6.6.0

##<a id="ver"></a> v0.9.5

**Release Date:** October 1, 2018

Feature included in this release:

* Upgrade DogStatsD and Datadog Trace Agent to 6.5.2

##<a id="ver"></a> v0.9.1

**Release Date:** June 8, 2018

Features included in this release:

* Upgrade DogStatsD and Datadog Trace Agent to 6.2.1

* Change from a metabuildpack default to a multibuildpack

##<a id="ver"></a> v0.9.0

**Release Date:** May 4, 2018

Features included in this release:

* Initial release
