---
title: Release Notes for Datadog Application Monitoring for PCF
owner: Partners
---

These are release notes for Datadog Application Monitoring for Pivotal Cloud Foundry (PCF).

##<a id="ver"></a> v0.9.6

**Release Date:** October 30, 2018

Feature included in this release:

* Upgrade DogStatsD and Datadog Trace Agent to 6.6.0

##<a id="ver"></a> v0.9.5

**Release Date:** October 1, 2018

Feature included in this release:

* Upgrade DogStatsD and Datadog Trace Agent to 6.5.2

##<a id="ver"></a> v0.9.1

**Release Date:** June 8, 2018

Features included in this release:

* Upgrade DogStatsD and Datadog Trace Agent to 6.2.1

* Change from a metabuildpack default to a multibuildpack

##<a id="ver"></a> v0.9.0

**Release Date:** May 4, 2018

Features included in this release:

* Initial release
