---
title: Using Datadog Application Monitoring for PCF
owner: Partners
---

This topic describes how to use Datadog Application Monitoring for PCF.

##<a id="view"></a> Monitor Your Application Performance

1. Learn how to monitor your application performance <a href="https://docs.datadoghq.com/tracing/">here</a>.

##<a id="view"></a> Forward Custom Metrics to Datadog

2. Learn how to forward custom metrics to Datadhog using DogStatsD <a href="https://docs.datadoghq.com/developers/dogstatsd/">here</a>.
