---
title: Using Datadog Application Monitoring for PCF
owner: Partners
---

This topic describes how to use Datadog Application Monitoring for PCF.

##<a id="view"></a> Monitor your application performance

1. https://docs.datadoghq.com/tracing/

##<a id="view"></a> Forward custom metrics to datadog

2. https://docs.datadoghq.com/developers/dogstatsd/
