---
title: Using Datadog Application Monitoring for Pivotal Platform
owner: Partners
---

This topic describes how to use Datadog Application Monitoring for Pivotal Platform.

##<a id="view"></a> Monitor Your Application Performance

Learn how to monitor your application performance [here](https://docs.datadoghq.com/tracing/).

##<a id="view"></a> Forward Custom Metrics to Datadog

Learn how to forward custom metrics to Datadhog using DogStatsD [here](https://docs.datadoghq.com/developers/dogstatsd/).
